{% if site.data.author-bio %}

<div id="bio">
      {% assign bio = site.data.author-bio %}
     <li>
      <a title="{{bio.about}}"> 
        <img src="{{ avatar.src }}">
             <img src="{{ bio.src | relative_url }}">
              <span class="label">{{bio.name}}</span>
    </a>
</li>
</div>
{% endif %}



{% if site.data.social-media %}
<div id="social-media">
    {% assign sm = site.data.social-media %}
    {% for entry in sm %}
        {% assign key = entry | first %}
        {% if sm[key].id %}
            
            <a href="{{ sm[key].href }}{{ sm[key].id }}" title="{{ sm[key].title }}"><i class="fa {{ sm[key].fa-icon }}"></i><span class="label">{{ sm[key].id }}</span></a>
           
        {% endif %}
    {% endfor %}
</div>
{% endif %}

