{% if page.callouts %}
    {% assign callouts=site.data.[page.callouts] %}
    <section class="hero {% if callouts.height %} {{ callouts.height }} {% else %} is-medium {% endif %} {{ callouts.style }}">
        <div class="hero-body">
            <div class="container">
                <div class="columns is-multiline is-centered">
                    {% for callout in callouts.items %}
                        <div class="column is-4 has-text-centered">
                            {% if callout.icon %}
                            <div class="icon is-large">
                                <i class="fas {{ callout.icon }} fa-4x"></i>
                            </div>
                            {% endif %}
                            <p class="title is-5">{{ callout.title }}</p>
                            <p class="subtitle is-5">{{ callout.subtitle }}</p>
                            
                            {% if callout.description %}
                            <div class="content">
                                <p>{{ callout.description | newline_to_br }}</p>
                            </div>
                            {% endif %}

                            {% if callout.call_to_action_name %}
                            <a href="{{ callout.call_to_action_link | prepend: site.baseurl }}" class="button is-primary">
                                {{ callout.call_to_action_name }}
                            </a>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
{% endif %}
{% if page.author_profile or layout.author_profile or page.sidebar %}
  <div class="sidebar sticky">
  {% if page.author_profile or layout.author_profile %}{% include author-profile.html %}{% endif %}
  {% if page.sidebar %}
    {% for s in page.sidebar %}
      {% if s.image %}
        <img src="{{ s.image | relative_url }}"
             alt="{% if s.image_alt %}{{ s.image_alt }}{% endif %}">
      {% endif %}
      {% if s.title %}<h3>{{ s.title }}</h3>{% endif %}
      {% if s.text %}{{ s.text | markdownify }}{% endif %}
      {% if s.nav %}{% include nav_list nav=s.nav %}{% endif %}
    {% endfor %}
    {% if page.sidebar.nav %}
      {% include nav_list nav=page.sidebar.nav %}
    {% endif %}
  {% endif %}
  </div>
{% endif %}
